form {
  width: 100%;
}

.tag-hover:hover {
  background-color: #4A5568;
  color: white;
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.img-hover:hover {
    transform: scale(1.1);
    transition: transform .25s ease-in;
}
