form {
  width: 100%;
}

@media screen and (min-width: 480px) {
  body {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 10px 50px;
  }
}

.tag-hover:hover {
  background-color: #4A5568;
  color: white;
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.img-hover:hover {
    transform: scale(1.02);
    transition: transform .25s ease-in;
}